.login_container {
    height:474px;
    width: 700px;
   margin: 0 auto;
}

.main_title {
    text-align: center;
}

.cancel {
    text-align: center;
    height: 30px;
}

.refresh {
    text-align: center;
    height: 30px;
}

